<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test suite">
    <test name="Login">
        <classes>
            <class name="com.automation.tests.day9.Vytrack.Login.NewLoginTests"/>
        </classes>
    </test>
    <test name="Calendar events">
        <classes>
            <class name="com.automation.tests.day9.Vytrack.activities.NewCalendarEventsTests"/>
        </classes>
    </test>
</suite>


















